
.col-md-5 {
    width: 50%;
    justify-content: center;
    padding: 30px;
    border-color: white;
}


.col-md-3 {
    width: 25%;
    float: right;

}

.card {
    padding: 35px;
    border-color: white;
}