{% extends 'base.html' %}

{% block title %}Roster{% endblock %}

{% block content %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Grade</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
            </tr>
        </thead>
        <tbody>
            {% for athlete in object_list %}
            <tr>
                <th scope="row">{{ athlete.grade }}</th>
                <th scope="row">{{ athlete.username }}</th>
                <th scope="row">{{ athlete.email }}</th>
                <th scope="row">{{ athlete.phone }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content%}